@CHARSET "UTF-8";
/*----------generated styles----------*/

.topToolbar,.contentLabel, .sliderThumb, .helpImg.fontImage{
	background-color: rgba(32,31,28,1);
}

.popover{
	background-color: rgba(206, 204, 202, 1);
}


.toolbar, .contentLabel, .popover .button{
	color: rgb(242, 227, 199);
	text-shadow: rgb(0,0,0) 1px 1px 3px; 
}

.contentInner *{
	color: rgb(3,3,3);
	text-shadow: none;
}

#bgDiv{
	background-color: #201f1c;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

